$gutter: 1em;

$dev: #f26518;
$dev2: #4bff97;
$dev3: #4bc2ff;


$white: #FFFFFF;
$black: #000000;

$lite-grey: #fafbff;
$dark-grey: #f5f7fb;
$shadow: #aebbc9;
$grey: #b7c2cf;


$lite-blue: #dfefff;
$blue: #009ffe;
$dark-blue: #006afd;

$blue-gradient: linear-gradient(0deg, rgba($dark-blue, 1), rgba($blue, 1) 100%);
$blue-gradient-reverse: linear-gradient(0deg, rgba($blue, 1), rgba($dark-blue, 1) 100%);

$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-large: 15px;


$text-small: 12px;
$text-normal: 14px;
$text-large: 18px;

